name: Build mkl_random documentation

on:
  pull_request:
  push:
    branches: [master]

permissions: read-all

jobs:
  build-and-deploy:
    name: Build and Deploy Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # 0.12.1
        with:
          access_token: ${{ github.token }}
      - name: Add Intel repository
        if: ${{ !github.event.pull_request || github.event.action != 'closed' }}
        run: |
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
          sudo apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
          rm GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
          sudo add-apt-repository "deb https://apt.repos.intel.com/oneapi all main"
          sudo apt-get update
      - name: Install Intel OneAPI
        if: ${{ !github.event.pull_request || github.event.action != 'closed' }}
        run: |
          sudo apt-get install intel-oneapi-compiler-dpcpp-cpp intel-oneapi-mkl-devel
      - name: Setup Python
        if: ${{ !github.event.pull_request || github.event.action != 'closed' }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14"
          architecture: x64
      - name: Install sphinx dependencies
        if: ${{ !github.event.pull_request || github.event.action != 'closed' }}
        shell: bash -l {0}
        run: |
          pip install numpy cython setuptools">=77" scikit-build cmake sphinx sphinx_rtd_theme furo pydot graphviz sphinxcontrib-programoutput sphinxcontrib-googleanalytics sphinx_design
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Build mkl_random+docs
        if: ${{ !github.event.pull_request || github.event.action != 'closed' }}
        shell: bash -l {0}
        run: |
          # Ensure that SYCL libraries are on LD_LIBRARY_PATH
          source /opt/intel/oneapi/setvars.sh
          pip install --no-deps --no-build-isolation -e . --verbose	  
          python -c "import mkl_random; print(mkl_random.__version__)" || exit 1
          sphinx-build -M html docs/source docs/build
          mkdir -p ~/rendered_docs
          cp -r docs/build/html/* ~/rendered_docs/
          git clean -dfx
      - name: Save built docs as an artifact
        if: ${{ github.event.pull_request && github.event.action != 'closed'}}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.PACKAGE_NAME }} rendered documentation
          path: ~/rendered_docs
      - name: Configure git
        if: ${{ !github.event.pull_request && github.event.action != 'closed'}}
        run: |
          git config --local user.email "scripting@intel.com"
          git config --local user.name "mkl_random-doc-bot"
        timeout-minutes: 5
      - name: Checkout gh-pages
        if: ${{ !github.event.pull_request && github.event.action != 'closed'}}
        run: |
          git remote add tokened_docs https://IntelPython:${{ secrets.GITHUB_TOKEN }}@github.com/IntelPython/mkl_random.git
          git fetch --all
          git checkout --track tokened_docs/gh-pages
      - name: 'Copy build to root'
        if: ${{ !github.event.pull_request && github.event.action != 'closed'}}
        run: |
          cp -R ~/rendered_docs/* .
        timeout-minutes: 10
      - name: 'Commit changes'
        if: ${{ !github.event.pull_request && github.event.action != 'closed'}}
        run: |
          git add . && git commit -m "Deploy: ${{ github.sha }}"
        continue-on-error: true
        timeout-minutes: 10
      - name: Publish changes
        if: ${{ success() && !github.event.pull_request && github.event.action != 'closed'}}
        run: |
          git push tokened_docs gh-pages
        timeout-minutes: 10
